<?xml version="1.0" ?>
<!--
  ~ @Author:    Dan Lewis (dan.lewis@employer.tbc)
  ~ @Copyright: 2024 Employer (https://Employer.tbc)
  ~ @Package:   Employer_Recruitment
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="employer" translate="label" sortOrder="2">
            <label>Employer</label>
        </tab>
        <section id="recruitment" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Recruitment</label>
            <tab>employer</tab>
            <resource>Employer_Recruitment::config_employer_recruitment</resource>
            <group id="settings" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>General Settings</label>
                <field id="enable" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1"
                       translate="label">
                    <label>Enable Recruitment Module</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
